= simple_form_for @patient, html: { multipart: true } do |f|
  - if @patient.errors.any?
    #errors
      %p
        = @patient.errors.count
        Prevented this patient from saving
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li = %msg
  .panel-body
    = f.input :first_name, input_html: { class: 'form-control' }
    = f.input :middle_name, input_html: { class: 'form-control' }
    = f.input :last_name, input_html: { class: 'form-control' }
    = f.input :weight, input_html: { class: 'form-control' }
    = f.input :height, input_html: { class: 'form-control' }
    = f.input :mrn, input_html: { class: 'form-control' }

    .row
      .col-md-6
        %h3 Encounters
        #encounters
          = f.simple_fields_for :encounters do |encounter|
            = render 'encounter_fields', f: encounter
          .links
            = link_to_add_association 'Add Encounter', f, :encounters, class: "btn btn-default add-button"

  = f.button :submit, class: "btn btn-primary"